#contentContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#list-title {
    text-align: center;
}

#blogPostList {
    display: flex;
    flex-direction: column;
}

#editBlogTitleContainer {
    display: flex;
    flex-direction: column;
}

#editBlogContentContainer {
    display: flex;
    flex-direction: column;
}